Something should pop up!!, {{this.username}}

{{#each contents}}

<div>
<br>
{{title}}
<br>
{{img}}
<br>
{{location}}
<br>
{{comment}}

</div>


{{/each}}




{{!-- 
<div id="photo-wrapper">
{{# each photoUpload}}
<img id='image-1' scr='{{this.attributes.image_as_base64}}'>
{{/each}}
</div>
 --}}