
{{#each this}}

    <h4>{{this.attributes.username}}</h4>
    <img src="{{this.attributes.location}}">
    <p>{{this.attributes.title}}</p>
    <p>{{this.attributes.comment}}</p>

{{/each}}




{{!-- <div>{{this.contents.0.attributes.comment}}</div> --}}
